{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
            <img src={{=URL('static','logo-grande.png')}} 
                 alt="expedientes" />
      </div>
    </header>
{{end}}

<h1 class="text-center">
    Sistema de gestión para estudios jurídicos
</h1>
{{for item in modules:}}
    <div class="col-md-3">
        <div class="well well-lg ">
        <p align='center'><a href={{=item['url']}}>
            <img src={{=URL('static',item['img'])}} 
                 alt={{=item['alt']}} height=64px width=64px />
        </p>
        <p align='center'>
            {{=item['alt']}}
        </p></a>
    </div></div>
{{pass}}
