{{extend 'layout.html'}}
<h1>Expedientes</h1>
{{if len(request.args)>2 and 'expediente_id' in request.args[1]:}}
        <div id='expte' class="col-md-3 well well-lg">
            {{=LOAD('expedientes','vista_expediente',args=[request.args[2]])}}
        </div>
        <div class="col-md-9">
            {{=grid}}
            {{if len(request.args)>3 and request.args[4]=="parte":}}
                'Persona'
            {{pass}}
        </div>
{{else:}}
        {{=grid}}
{{pass}}
<script>
    $('#expediente-numero').width('10%')
    $('#expediente-caratula').width('35%')
    $('#expediente-juzgado_id').width('25%')
    $('#movimiento_estado').width('10%')
    $('#movimiento_titulo').width('60%')
    $('#agenda_vencimiento').width('15%')
    $('#agenda_titulo').width('55%')
    $('#parte_persona_id').width('45%')
    $('#parte_caracter').width('25%')

</script>
<script>
    $(function() {
        $("td>a>span").each(function() {
            if ($(this).html()=="Agendas")
                $(this).parent().css('display','none');
        });
    });</script>